Portfolio.Client/bin/Debug/net8.0/dotnet.js
Portfolio.Client/bin/Debug/net8.0/dotnet.native.js
Portfolio.Client/bin/Debug/net8.0/dotnet.runtime.js
Portfolio.Client/bin/Debug/net8.0/dotnet.js.map
Portfolio.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.8.0.6.45kd4zogd5.js
Portfolio.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.8.0.6.k1z3ykpilw.js
Portfolio.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js
Portfolio/bin/Debug/net8.0/BlazorDebugProxy/BrowserDebugHost.runtimeconfig.json